.cardsets-1 {
  position: absolute;
  bottom: 3vh;
  left: 5vh;
  height: fit-content;
}

.cardsets-1 > div:first-of-type {
  background-image: url("../assets/cardset.png");
  height: 20vh;
  width: 14vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  border: 0.5vh solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.3),
    inset 0 0 32px 4px rgba(0, 0, 0, 0.5);
  border-radius: 1vh;
  transition-delay: 0.5s;
}

.cardsets-1 > div:nth-of-type(2) {
  background-image: url("../assets/destination.png");
  height: 20vh;
  width: 14vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  border: 0.5vh solid rgba(0, 0, 0, 0.8);
  margin-left: 1vh;
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.3),
    inset 0 0 32px 4px rgba(0, 0, 0, 0.5);
  border-radius: 1vh;
}
