@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.Createroom {
  text-align: center;
}

.Createroom-header {
  background-color: #282c34;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.Createroom-panel {
  outline: none;
  background-color: gainsboro;
  border: 0.5vh solid black;
  border-radius: 2vh;
  flex-direction: row;
  box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.3),
    inset 0 0 32px 24px rgba(228, 129, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: left;
  padding: 5vh 10vh 5vh 10vh;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 28vh;
  font-family: "Alfa Slab One", cursive;
  color: black;
}

.playerNumber {
  border: 0.5vh solid black;
  border-radius: 2vh;
  padding: 3vh 2vh 3vh 2vh;
}

.title {
  font-size: 5vh;
  margin-bottom: 5vh;
}

.playerNumber,
.playerNumber p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
}

.slider {
  width: 20vh;
  margin-top: 2vh;
  background-color: black;
  background: black;
}

.button {
  outline: none;
  margin-top: 5vh;
}

.input {
  padding: 1vh;
  font-family: "Alfa Slab One", cursive;
  width: 80vh;
  border: 0.5vh solid black;
  margin-top: 5vh;
  background-color: gainsboro;
  border-radius: 2vh;
  outline: none;
}
